.about {
  .wrapper {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;

    &:nth-child(odd) {
      left: 0;
      border-right: 1px solid #eee;

      .content {
        p {
          text-align: end;
        }
      }

      &::before {
        right: 25px;
      }

      .date {
        right: 82px;
      }
    }

    &:nth-child(even) {
      left: 50%;
      border-left: 1px solid #eee;
      .date {
        left: 82px;
      }
      &::after {
        left: -17.5px;
      }

      .content {
        left: 14px;
      }

      &::before {
        left: 25px;
      }

      .content {
        padding: 30px 0;
        padding-left: 55px;
      }
    }

    &:last-child {
      border: none;
    }

    &::after {
      content: '';
      position: absolute;
      width: 35px;
      height: 35px;
      top: 0;
      right: -17.5px;
      background: linear-gradient(60deg, #3d73eb 13.4%, #de8fff 86.6%);
      border-radius: 50%;
      z-index: 1;
      border-radius: 10px solid transparent;
    }

    &::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 1px;
      top: 17.5px;
      right: 8px;
      background: #fff;
      z-index: 1;
    }

    .date {
      position: absolute;
      display: inline-block;
      top: 6.75px;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      z-index: 1;
    }

    .content {
      padding: 30px 0;
      padding-right: 55px;
      color: white;
      opacity: 80%;
    }
  }

  .wrapper .content h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: normal;
    color: #006e51;
  }
}
