.contact {
  display: flex;
  flex-direction: column;
  position: relative;

  p {
    padding-top: 2rem;
  }

  input {
    height: 5vh;
  }

  .section__loading {
    position: relative;
  }

  .lds-heart {
    display: inline-block;
    position: absolute;
    top: 110%;
    left: 46%;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
  }

  .lds-heart div {
    top: 20px;
    left: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .lds-heart div:after,
  .lds-heart div:before {
    content: ' ';
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background: #fff;
  }

  .lds-heart div:before {
    left: -16px;
    border-radius: 50% 0 0 50%;
  }

  .lds-heart div:after {
    top: -16px;
    border-radius: 50% 50% 0 0;
  }

  @keyframes lds-heart {
    0% {
      transform: scale(0.95);
    }
    5% {
      transform: scale(1.1);
    }
    39% {
      transform: scale(0.85);
    }
    45% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.9);
    }
  }

  &__title {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    span {
      text-transform: uppercase;
      background: linear-gradient(60deg, #3d73eb 13.4%, #de8fff 86.6%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .contact__form--wrap {
    display: flex;
  }

  &__info {
    padding: 0 1.5rem 2rem 1.5rem;
    position: relative;
    height: fit-content;
    width: 35%;

    &::before {
      content: '';
      border-top: 1px solid #ffffff3d;
      border-bottom: 1px solid #ffffff3d;
      width: 96.2%;
      height: 100%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      left: 50%;
    }

    &::after {
      content: '';
      border-left: 1px solid #ffffff3d;
      width: 100%;
      height: 94%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &__form {
    position: relative;
    height: fit-content;
    padding: 0 1.5rem 2rem 1.5rem;
    width: 65%;

    .send__data {
      z-index: 1;
      gap: 25px;
      display: flex;
      flex-direction: column;
      .form__item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        input,
        textarea {
          background-color: #0f1836;
          border: none;
          outline: none;
          color: #fff;
          border-radius: 5px;
          padding: 1rem;
        }
        textarea {
          min-height: 150px;
        }
      }
      .button__submit {
        width: fit-content;
        background-image: linear-gradient(to right, #3d73eb, #de8fff 100%);
        border: none;
        padding: 0.8rem 2rem;
        color: #ffffff;
        font-weight: 500;
        border-radius: 5px;
        margin: 1rem 0;
      }
    }

    &::before {
      content: '';
      border-top: 1px solid #ffffff3d;
      border-bottom: 1px solid #ffffff3d;
      width: 98%;
      height: 100%;
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      z-index: -1;
      top: 0;
    }

    &::after {
      content: '';
      border-left: 1px solid #ffffff3d;
      border-right: 1px solid #ffffff3d;
      width: 100%;
      height: 95%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: -1;
    }
  }

  &__footer {
    --f-columns: 3;
    --f-gap: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--f-gap));
    margin-bottom: calc(-1 * var(--f-gap));
    padding-top: 10rem;

    .content__main {
      display: flex;
      align-items: center;
      margin-left: var(--f-gap);
      margin-bottom: var(--f-gap);
      width: calc((100% / var(--f-columns) - var(--f-gap)));

      .content__icon {
        font-size: 1.8rem;
        color: #9b8bf9;
        padding-right: 1rem;
      }

      .title {
        font-weight: bold;
      }

      p {
        padding-top: 1rem;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
