@use "../custom" as *;

.header {
  // position: fixed;
  // top: 0;
  // width: 100%;
  .header__logo {
    width: 4rem;
    height: 4rem;
    position: relative;
  }

  .header__contact {
    background-image: linear-gradient(to right, #3d73eb, #de8fff 100%);
    border: none;
    padding: 0.6rem 1.2rem;
    color: #ffffff;
    font-weight: 500;
    border-radius: 7px;
  }
}

