@use "../custom" as *;

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  position: relative;
  background-color: #06072b;
  color: #ffffff;
}

.scrollspy {
  position: relative;
  height: 100vh;
  overflow: auto;
}

.section {
  height: 100vh;
}

@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
    transform-origin: top left;
  }
  100% {
    transform: rotate(0deg);
  }
}
