.projects {
  .geography {
    &:focus {
      outline: none;
    }

    &__icon {
      color: #ff5533;
    }
  }
  .toast {
    margin: 30px 0;
    .here {
      background: -webkit-linear-gradient(60deg, #3d73eb 13.4%, #de8fff 86.6%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.customer {
  position: relative;
  .customer-swiper {
    border-radius: 6px;
    .customer__logo {
      border-radius: 6px;
      background-color: #ffffff;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .swiper_button {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    user-select: none;

    .swiper_prev,
    .swiper_next {
      border: 1px solid #5c49cd;
      font-size: 12px;
      padding: 2px 8px;
      cursor: pointer;
      border-radius: 6px;
    }
  }
}
