.navigations {
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  counter-reset: number;
  height: 100%;
  z-index: 150;

  ul {
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    li {
      padding: 9px 0;
      position: relative;

      span {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 40px;
        right: 0;
      }

      &:before {
        content: '0' counter(number);
        counter-increment: number;
        display: block;
        font-size: 14px;
      }

      &:after {
        content: '';
        display: block;
        margin: 0 auto;
        width: 1px;
        height: 0;
        transition: all 0.3s ease;
        background-color: #747474;
      }

      &:last-child.active span:after {
        content: '';
        width: 4px;
        position: absolute;
        bottom: -92px;
        left: 0;
        right: 0;
        margin: auto;
        height: 4px;
        background-color: #747474;
        border-radius: 50%;
      }
    }

    li.active::after {
      margin: 6px auto -8px;
      height: 88px;
    }
  }
}
