@use "../custom" as *;

.navigation {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  counter-reset: number;
  margin: 10rem 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    li {
      padding: 9px 0;
      position: relative;

      span {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 40px;
        right: 0;
      }

      a {
        color: #ffffff;

        &:hover {
          color: #ffffff;
        }

        &.active {
          background-color: #ffffff !important;
          color: #000 !important;
        }
      }
    }
  }
}

.social {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  > a {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #5c49cd;
    color: #fff;
  }
}
.hero {
  display: flex;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  .wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .heading {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      perspective: 100vh;
      font-size: clamp(10px, 2vw, 20px);

      .waviy {
        position: relative;
        -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
        font-size: 30px;

        span {
          position: relative;
          display: inline-block;
          color: #fff;
          animation: waviy 4.2s infinite;
          user-select: none;
          @for $i from 1 to 23 {
            &:nth-child(#{$i}) {
              animation-delay: calc(0.1s * $i);
            }
          }
        }
      }

      h1 {
        position: relative;
        font-family: "Mochiy Pop One", sans-serif;
        font-size: 70px;
        margin: 0;
        transform: skew(-15deg);
        letter-spacing: 3px;
        user-select: none;

        &::after {
          content: "";
          position: absolute;
          top: -1px;
          right: -5px;
          width: 30px;
          height: 20px;
          background: radial-gradient(
              white 3%,
              rgba(white, 0.3) 15%,
              rgba(white, 0.05) 60%,
              transparent 80%
            ),
            radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 5%
              100%,
            radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 70%
              5%;
          background-repeat: no-repeat;
        }

        span {
          display: block;
          text-transform: uppercase;
          background: linear-gradient(#3d73eb, #f08fff 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .grid {
        $main: #7d41e6;
        $glow: rgba(#2e26ff, 0.4);
        background: linear-gradient(
            transparent 65%,
            $glow 75%,
            $main 80%,
            $glow 85%,
            transparent 95%
          ),
          linear-gradient(
            90deg,
            transparent 65%,
            $glow 75%,
            $main 80%,
            $glow 85%,
            transparent 95%
          );
        background-size: 30px 30px;
        width: 200vw;
        height: 150vh;
        position: absolute;
        bottom: -120vh;
        transform: rotateX(-100deg);
        -webkit-mask-image: linear-gradient(
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 0) 80%
        );
      }
    }
  }
  .shake {
    display: flex;
    justify-content: center;
    align-items: center;
    .img_wrap {
      width: 250px;
      height: 250px;
      position: relative;
      background: -webkit-linear-gradient(-35deg, #4361ee, #f72585);
      border-radius: 12px;
      z-index: 2;
      animation: animate 5s linear infinite;
      transform-origin: top;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .img_wrap::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      transform: translate(25px, 10px);
      border: 1px solid #fff;
      border-image-slice: 1;
      border-image-source: linear-gradient(to right bottom, #6a5af9, #f62682);
      z-index: -1;
      border-radius: 12px;
    }

    .img_wrap::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      transform: translate(15px, 20px);
      border: 1px solid #fff;
      border-image-slice: 1;
      border-image-source: linear-gradient(to right bottom, #f62682, #6a5af9);
      z-index: -1;
      border-radius: 12px;
    }
    .img_wrap img {
      width: 100%;
    }
    .box_1 {
      width: 20px;
      height: 20px;
      border: 1px solid #ffffff;
      position: absolute;
      left: -20px;
      top: -10px;
      border-radius: 50%;
    }
    .box_2 {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #ffffff;
      position: absolute;
      left: calc(100% + 10px);
      bottom: 15px;
    }
    .star {
      position: absolute;
      top: 50%;
      left: -50px;
      font-size: 30px;
      color: yellow;
      animation: star 2s linear infinite;
      @keyframes star {
        0% {
          top: calc(50% - 10px);
          left: -60px;
        }
        50% {
          top: calc(50% - 0px);
          left: -50px;
        }
        100% {
          top: calc(50% - 10px);
          left: -60px;
        }
      }
    }
    .small_star {
      border-radius: 100rem;
      position: absolute;
      top: 40%;
      right: -60px;
      animation: small_star 3s linear infinite;

      @keyframes small_star {
        0% {
          width: 10px;
          height: 10px;
        }
        50% {
          width: 30px;
          height: 30px;
        }
        100% {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
  .social {
    display: flex;
    gap: 20px;
    > a {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      border-radius: 4px;
      border: 1px solid purple;
      color: #fff;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      left: 10px;
      bottom: 10px;
    }
  }

  .scroll_down {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    font-size: 25px;
    animation: fadeUp 1s linear infinite;
    @keyframes fadeUp {
      0% {
        bottom: 30px;
      }
      50% {
        bottom: 20px;
      }
      100% {
        bottom: 30px;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    justify-content: space-around;
    .wrapper {
      .img_wrap {
        width: 200px;
        height: 200px;
      }
    }
  }
}
