.container {
  padding: 0 2rem;
  background-color: #06072b;
  color: #ffffff;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navDots {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.navDot {
  width: 100%;
  list-style: none;
  transition: all 0.3s;
  padding: 1rem 0;
}

.navDot:not(:last-of-type) {
  margin-bottom: 20px;
}

/* .activeDot ::after {
  margin: 6px auto -8px;
  height: 88px;
} */

/* .navDots::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 1px;
  height: 0;
  transition: all 0.3s ease;
  background-color: #747474;
} */

.activeDot {
  margin: 6px auto -8px;
  height: 88px;
}

.activeDot::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 1px;
  height: 0;
  transition: all 0.3s ease;
  background-color: #747474;
}

.section {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

/* .sectionHeading {
  margin: 0;
  color: white;
  font-size: 32px;
  text-transform: capitalize;
} */

/* 
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */

