@use 'common';
@use 'scss/social';
@use 'scss/header';
@use 'scss/sidebar';
@use 'scss/about';
@use 'scss/introduce';
@use 'scss/services';
@use 'scss/projects';
@use 'scss/solutions';
@use 'scss/customers.scss';
@use 'scss/contact';
