@media screen and (min-width: 320px) {
  header {
    left: -1%;
  }

  /* Contact Us */
  .contact {
    &__form--wrap {
      display: block;

      .contact__info,
      .contact__form {
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.2392156863);

        &::before,
        &::after {
          content: none;
        }
      }
    }

    &__footer {
      --f-columns: 1;
    }
  }

  /* Sidebar */
  .social_bar {
    flex-direction: column;
    left: 3%;
    bottom: 3%;
  }

  .navigations {
    display: none;
  }

  /* Solution */
  .solution {
    &__container {
      --f-columns: 1;
    }
  }

  /* Service */
  .services {
    &__container {
      --f-columns: 1;
    }
  }

  /* Aboute Us */
  .about {
    .wrapper {
      width: 100%;
      &:nth-child(even) {
        left: 0;
      }

      &:nth-child(odd) {
        left: 0;
        border-right: none;
        border-left: 1px solid #eee;

        .date {
          left: 82px;
          right: auto;
        }

        &::before {
          left: 25px;
        }

        .content {
          padding-right: 0;
          padding-left: 55px;
          p {
            text-align: start;
          }
        }
      }

      &::after {
        left: -17.5px;
      }
    }
  }

  /* Introduce */
  .introduce {
    min-height: 70vh;
    &__section {
      .shake {
        .img_wrap {
          width: 90px;
          height: 90px;
        }
      }
      .wrapper {
        padding-left: 0;
        h1 {
          span {
            font-size: 28px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  header {
    left: 31px;
  }

  /* Contact Us */
  .contact {
    &__form--wrap {
      display: flex;

      &__info {
        padding: 0 1.5rem 2rem 1.5rem;
        position: relative;
        height: fit-content;
        width: 35%;
        margin-bottom: 1rem;
        border-right: none;

        &::before {
          content: '';
          border-top: 1px solid #ffffff3d;
          border-bottom: 1px solid #ffffff3d;
          width: 96.2%;
          height: 100%;
          position: absolute;
          top: 0;
          transform: translateX(-50%);
          left: 50%;
        }

        &::after {
          content: '';
          border-left: 1px solid #ffffff3d;
          width: 100%;
          height: 94%;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }

      &__form {
        position: relative;
        height: fit-content;
        padding: 0 1.5rem 2rem 1.5rem;
        width: 65%;

        .send__data {
          z-index: 1;
          gap: 25px;
          display: flex;
          flex-direction: column;
          padding-top: 2rem;

          .form__item {
            display: flex;
            flex-direction: column;
            gap: 20px;
            input,
            textarea {
              background-color: #0f1836;
              border: none;
              outline: none;
              color: #fff;
              border-radius: 5px;
              padding: 1rem;
            }
            textarea {
              min-height: 150px;
            }
          }
          .button__submit {
            width: fit-content;
            background-image: linear-gradient(to right, #3d73eb, #de8fff 100%);
            border: none;
            padding: 0.8rem 2rem;
            color: #ffffff;
            font-weight: 500;
            border-radius: 5px;
            margin: 1rem 0;
          }
        }

        &::before {
          content: '';
          border-top: 1px solid #ffffff3d;
          border-bottom: 1px solid #ffffff3d;
          width: 98%;
          height: 100%;
          position: absolute;
          transform: translateX(-50%);
          left: 50%;
          z-index: -1;
          top: 0;
        }

        &::after {
          content: '';
          border-left: 1px solid #ffffff3d;
          border-right: 1px solid #ffffff3d;
          width: 100%;
          height: 95%;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          z-index: -1;
        }
      }
    }

    &__footer {
      --f-columns: 3;
    }
  }

  /* Sidebar */
  .social_bar {
    flex-direction: column;
    left: 6%;
  }

  .navigations {
    display: flex;
  }

  /* Solution */
  .solution {
    &__container {
      --f-columns: 2;
    }
  }

  /* Service */
  .services {
    &__container {
      --f-columns: 3;
    }
  }

  /* Aboute Us */
  .about {
    .wrapper {
      width: 50%;
      &:nth-child(even) {
        left: 50%;
      }

      &:nth-child(odd) {
        left: 0;
        border-right: 1px solid #eee;
        border-left: none;

        .date {
          right: 82px;
          left: auto;
        }

        &::before {
          left: auto;
          right: 25px;
        }

        .content {
          padding-right: 55px;
          padding-left: 0;
          p {
            text-align: end;
          }
        }
      }

      &::after {
        right: -17.5px;
        left: auto;
      }
    }
  }

  /* Introduce */
  .introduce {
    min-height: 100vh;
    &__section {
      .shake {
        .img_wrap {
          width: 200px;
          height: 200px;
        }
      }
      .wrapper {
        padding-left: 100px;
        h1 {
          span {
            font-size: 40px;
          }
        }
      }
    }
  }
}
